*{
    margin: 1px;
    padding: 2px;
}

.header{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 30px;
    padding-inline-end: 30px; 
    background-color: rgb(159, 205, 245);   
}

.logo{
    border: 2px solid black;
}

.links{
    border: 2px solid black;
}

.header-list{
    border: 2px solid black;
    display: flex;

}

.link{
    border: 2px solid black;
    list-style: none;
}

.body{
    border: 2px solid black;
    background-color: rgb(196, 223, 247); 
}

.top{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.section-left{
    border: 2px solid black;
}

.section-right{
    border: 2px solid black;
}

.middle{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    display: flex;
    
    justify-content: center;
    align-items: center;
    max-width: 100px;
    max-height: 100px;
}

.container-one{
    border: 2px solid black;
}

.container-two{
    border: 2px solid black;
}

.container-three{
    border: 2px solid black;
}

.container-four{
    border: 2px solid black;
}

.bottom-paragraph{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    padding-left: 400px;
    padding-right: 400px;
}

.paragraph{
    border: 2px solid black;
}

.bottom-signup{
    border: 2px solid black;
    background-color: rgb(61, 161, 248);
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    margin-left: 350px;
    margin-right: 350px;

}

.signup-block{
    border: 2px solid black;
}

.footer{
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.foot{
    border: 2px solid black;
}