*{
    margin: 1px;
    padding: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 30px;
    padding-inline-end: 30px; 
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;  
}

.logo{
    border: 2px solid black;
}

.links{
    border: 2px solid black;
}

.header-list{
    border: 2px solid black;
    display: flex;

}

.link{
    border: 2px solid black;
    list-style: none;
}

.body{
    border: 2px solid black;
    background-color: rgb(196, 223, 247); 
}

.top{
    border: 2px solid black;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.section-left{
    border: 2px solid black;
    color: #f9faf8;
    font-size: 48px ;
    font-weight: bolder;
}
.paragraph-top-left{
    border: 2px solid black;
    font-size: 18px;
    color: #f9faf8;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.image-top-right{
    border: 2px solid black;
    padding-left: 150px;
    padding-right: 150px;  /* check to amend towards the end*/
    margin-top: 70px;
    max-width: 200px;
    max-height: 100px;
    display: flex;
    
}

.middle{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-heading{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.image{
    display: flex;
    
    justify-content: center;
    align-items: center;
    max-width: 100px;
    max-height: 100px;
}

.container-one{
    border: 2px solid black;
}

.container-two{
    border: 2px solid black;
}

.container-three{
    border: 2px solid black;
}

.container-four{
    border: 2px solid black;
}

.bottom-paragraph{
    border: 2px solid black;
    background-color: #e5e7eb;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
}

.paragraph{
    border: 2px solid black;
}

.bottom-signup{
    border: 2px solid black;
    background-color: #3882f6;
    display: flex;
    flex-wrap: wrap;    
    justify-content: center;
    margin-left: 350px;
    margin-right: 350px;
}

.signup-button{
    border: 2px solid black;
    background-color: #3882f6;
}

.footer{
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.foot{
    border: 2px solid black;
}